---
import type { Homepage } from "@/payload/payload-types";
import Iframe from "./Iframe.astro";

interface Props {
    title?: string | undefined;
    logo?: Homepage["heroLogo"] | undefined;
    caption?: string | undefined;
}

const { title, logo, caption } = Astro.props;
---

<section
    class="absolute rounded-md grid left-0 right-0 mx-auto place-items-center gap-4 top-20 bg-white/75 p-4 max-w-[700px]"
>
    {
        logo?.map(block =>
            (block.blockType == "ImageBlock"
                && typeof(block.image) !== 'string'
                && <img
                src={block?.image.url}
                class="w-[250px] mb-2 rounded-md"
                />) ||

            (block.blockType == "EmbedVideoBlock"
                && <Iframe
                src={block.src}
                width={block.width}
                height={block.height}
                />) ||

            {console.log(`Unknown hero overlay block ${JSON.stringify(block)}`)}
        )
    }
    <h1 class="text-5xl font-bold text-center">{title}</h1>
    <p>{caption}</p>
</section>
