---
import type { Homepage, Image } from "@/payload/payload-types";
import HeroOverlay from "./HeroOverlay.astro";
import RawVideo from "./RawVideo.astro";


interface Props {
    backgroundBlocks?: Homepage["heroBackground"];
    title?: string | undefined;
    logo?: Image | undefined;
    caption?: string | undefined;
}

const { backgroundBlocks, title, logo, caption } = Astro.props;
---

<div class="flex-1 relative min-h-[500px]">
    {
        backgroundBlocks?.map(block =>
            (block.blockType == "ImageBlock"
                && typeof(block.image) !== 'string'
                && <img
                    src={block.image.url}
                    width={block.width && `${block.width}px`}
                    height={block.height && `${block.height}px`}
                    class="absolute w-full h-full top-0 bottom-0 object-cover object-center"
                />) ||

            (block.blockType == "VideoBlock"
                && typeof(block.video) !== 'string'
                && <RawVideo
                    width={block.width}
                    height={block.height}
                    video={block.video}
                    autoplay={block.autoplay}
                    controls={block.controls}
                    loop={block.loop}
                    className="absolute w-full h-full top-0 bottom-0 object-cover object-center"
                />) ||

            {console.log(`Unknown hero block ${JSON.stringify(block)}`)}
        )
    }
    <HeroOverlay title={title} logo={logo} caption={caption} />
</div>
