---
import type { Image, Page } from "@/payload/payload-types";
import Paragraph from "./Paragraph.astro";
import RichText from "./RichText.astro";

interface Props {
    blocks: Page["blocks"][0];
}

const blocks =
    Astro.props.blocks.blockType === "TwoColumn" && Astro.props.blocks || undefined;

// type BlockType = NonNullable<(typeof blocks)>['left'][0];
// TODO: Make this less redundant somehow
---

<div class="grid grid-cols-2 gap-3">
    <div class="flex flex-col gap-3">
        {blocks?.left.map(block => (
        (block.blockType == "Paragraph" && <Paragraph text={block.text} />) ||
        (block.blockType == "ImageBlock" && <img src={(block.image as Image).url} width={block.width} height={block.height} />) ||
        (block.blockType == "RichText" && <RichText richText={block.content as (FormattedElement | FormattedText)[]} />) ||
        {console.log(`Unknown two-column block ${JSON.stringify(block)}`)}
    ))}
    </div>
    <div class="flex flex-col gap-3">
        {blocks?.right.map(block => (
        (block.blockType == "Paragraph" && <Paragraph text={block.text} />) ||
        (block.blockType == "ImageBlock" && <img src={(block.image as Image).url} width={block.width} height={block.height} />) ||
        (block.blockType == "RichText" && <RichText richText={block.content as (FormattedElement | FormattedText)[]} />) ||
        {console.log(`Unknown two-column block ${JSON.stringify(block)}`)}
    ))}
    </div>
</div>