---
import HeroImage from "../components/HeroImage.astro";
import { getHomepage } from "../api";
import RichText from "../components/RichText.astro";
import type {
	FormattedElement,
	FormattedText,
} from "@/payload/rich-text-export";
import Main from "../layouts/Main.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const homepage = await getHomepage();
const { title } = homepage;

const { heroBackground, heroLogo, heroCaption } = homepage;

const content = homepage.content as
	| (FormattedElement | FormattedText)[]
	| undefined;
---

<BaseLayout title={title}>
	<div class="relative flex flex-col h-screen">
		<Navbar />
		{
			typeof heroLogo !== "string" && (
				<HeroImage
					title={title}
					backgroundBlocks={heroBackground}
					logo={heroLogo}
					caption={heroCaption}
				/>
			)
		}
	</div>

	<Main>
		<RichText richText={content} />
	</Main>

	<Footer />
</BaseLayout>
