---
import HeroImage from "../components/HeroImage.astro";
import { getHomepage } from "../api";
import RichText from "../components/RichText.astro";
import type {
	FormattedElement,
	FormattedText,
} from "@/payload/rich-text-export";
import type { Image } from "@/payload/payload-types";
import Main from "../layouts/Main.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const homepage = await getHomepage();
const { title } = homepage;

const heroImage = homepage.heroImage as Image;
const heroLogo = homepage.heroLogo as Image;
const heroCaption = homepage.heroCaption;

const content = homepage.content as (FormattedElement | FormattedText)[];
---

<BaseLayout title={title}>
	<div class="relative flex flex-col h-screen">
		<Navbar />
		<HeroImage title={title} image={heroImage} logo={heroLogo} caption={heroCaption} />
	</div>

	<Main>
		<RichText richText={content} />
	</Main>

	<Footer />
</BaseLayout>
